<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form th:action="@{/user/add}" method="post" th:object="${user}">
      <input type="text" th:field="*{username}"/>
      <span style="color: red"  th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
      <br/>
      <input type="text" th:field="*{password}"/>
      <span style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
      <br/>
      <input type="submit" value="submit"/>
  </form>
</body>
</html>